.contact-form {
  display: inline-block;
  padding: 20px;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
}
.input {
  display: block;
  width: 280px;
  text-align: left;
  height: 20px;
  outline: none;
}

.input::placeholder {
  color: #797979;
  text-align: center;
}

.submit {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
